
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>day009</display-name>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>haust.viakiba.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo1</servlet-name>
    <servlet-class>haust.viakiba.RequestDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo2</servlet-name>
    <servlet-class>haust.viakiba.RequestDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequsestDemo3</servlet-name>
    <servlet-class>haust.viakiba.RequsestDemo3</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo1</servlet-name>
    <url-pattern>/RequestDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo2</servlet-name>
    <url-pattern>/RequestDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequsestDemo3</servlet-name>
    <url-pattern>/RequsestDemo3</url-pattern>
  </servlet-mapping>
</web-app>